/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
body{
    position: relative;
}
.fl-page {
    width: auto;
    overflow: hidden;
}

.container.fl-content-full {
    margin: 0;
    padding: 0;
    width: auto;
    max-width: none;
}
.text-danger {
    color: #E70E00 !important;
}
.fl-page .fl-page-content .fl-content-full.container > .row > .fl-content{
    margin: 0;
}
.njba-tabs-panel-content {
    padding: 0;
}
.fl-builder-content div.fl-module-button a.fl-button span,
.fl-builder-content div.fl-module-info-box  .uabb-creative-button-wrap a.uabb-button *,
.fl-builder-content .fl-module-callout a.fl-button *{
    text-transform: uppercase !important;
    font-weight: 600 !important;
}   
.p-b-0 p{
    margin-bottom: 5px !important;
}
.p-b-0 p a:hover{
    color: #a1ae7c;
}
.tabReverce .njba-tab-section-main {
    display: flex;
    flex-direction: column-reverse;
}
.tabCenter .njba-tabs-nav {
    display: flex;
    justify-content: center
}
.njba-tabs-label.njba-tab-active>.njba-tab-label-inner {
    border-color: #A00A20 !important;
}
.fl-page-bar-container {
    padding: 15px 0;
}
.hor ul li  {
    position: relative;
}
	
#menu-top-bar-menu .menu-item{
    padding: 2px 40px;
}
#menu-top-bar-menu .nav-link {
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
}
#menu-top-bar-menu .storename{
    display: inline-block;
    vertical-align: middle;
}
#menu-top-bar-menu .storename .nav-link{
    display: none;
}
#menu-top-bar-menu a:not(.nav-link){
    display: inline-block;
    vertical-align: top;
}
.fl-page-nav-right .fl-page-nav{
    padding: 0;
}
.fl-page-nav .navbar-nav>li>a.nav-link {
    padding: 20px 15px;
}
.fl-page-nav {
	padding: 20px;

}
.slider .fl-slide-text > p{
	margin: 0px!important;
}
.fl-page-header .fl-page-header-container {
    padding: 10px 0;
}

.homeSlider .bx-pager.bx-default-pager {
    bottom: 30px;
}

.homeSlider .bx-wrapper .bx-pager.bx-default-pager a {
    background: #F9F9F8;
}

.homeSlider .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: transparent;
    border: 1px solid #F9F9F8;
}
.mfp-close:hover{
    color:#F9F9F8 !important;

}


#colorwall-banner + div a.uabb-button{
	color: #f9f9f8;
    background-color: #a1ae7c;
    font-family: "Montserrat",sans-serif;
}
.product-swatch .button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#colorwall-banner + div a.uabb-button:hover{
	background-color: #b7c58e;
    color: #f9f9f8;
}

/* product row */

.product-row h4,
.product-row h5 {
    font-weight: 300;
    text-transform: uppercase;
}

.product-row h3 {
    text-transform: uppercase;
}

.page-id-603405 .fl-col-small .fl-module-photo  img {
    height: 435px !important;
    width: 326px !important;
}

@media(max-width:992px){
    .ua-icon {
        display: inline-block;
    font: normal normal normal 14px/1 FontAwesome !important;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }
    .ua-icon-chevron-down2:before {
        content: "\f078";
    }
}
@media (max-width: 768px) {

.slider .fl-slide-content{
	padding: 0px!important;
}
	.max-width-issue{
		max-width: 365px;
    }
    .uabb-image-carousel .slick-track{
        display: flex !important;
        align-items: center;
        justify-content: center;
    }
    .col-md-6.col-sm-12.product-swatch,
    .col-md-5.col-sm-12.col-md-offset-1.product-box{
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    .product-row.featured h3,
    .product-row.featured h4,
    .product-row.featured h5 {
        text-align: center !important;
    }
    .product-row.featured h4 {
        margin-bottom: 20px !important;
    }
}


/*Project Gallery */

.project-gallery .fl-photo-caption-below {
    text-align: left !important;
}


/* Image Galleries */

.fl-post-grid-gallery {
    width: 300px;
    height: 300px;
}

.gallery-menu ul li a:hover {
    text-decoration: none;
}


/* Reviews */

.reviews h4 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.reviews img {
    margin: 0;
    padding: 0 0 5px 0;
}


/* Product Grid */

.swatch-thumb {
    max-height: 238px;
    overflow: hidden;
}

.swatch-thumb img {
    width: 100%;
    height: auto;
}

.product-grid.swatch {
    text-align: center;
}

.product-grid.rooms {
    text-align: left;
}

.product-grid.featured {
    text-align: center;
}

.product-grid.swatch h2 {
    font-weight: 700;
    margin: 0 0 10px 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 16px;
}

.product-grid.swatch h4 {
    font-size: 10px;
    margin: 5px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    color: #929292;
}

.product-grid.rooms h2 {
    font-weight: 700;
    margin: 10px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 16px;
}

.product-grid.rooms h4 {
    font-size: 10px;
    margin: 5px 0 5px 0;
    padding: 0;
    text-transform: uppercase;
    color: #929292;
}

.strike-price {
    color: #929292;
    text-decoration: line-through !important;
    margin-right: 10px;
}

.sale-price {
    font-weight: 700;
    color: #212121;
}

.product-grid.featured h2 {
    font-weight: 700;
    margin: 0 0 15px 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 16px;
}

.product-grid.featured h4 {
    font-size: 10px;
    margin: 10px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    color: #929292;
}

.product-grid .fl-button {
    margin-bottom: 10px;
}

.product-grid .fl-button-text {
    font-size: 12px;
}

.product-grid a {
    text-decoration: none;
    font-size: 13px;
}

.product-grid a.link {
    color: #929292;
}

.product-grid a.link:hover {
    text-decoration: underline;
    color: #929292;
}

.product-grid a.greylink {
    color: #908c7b;
}

.product-grid a.greylink:hover {
    text-decoration: underline;
    color: #908c7b;
}

.njba-tabs-style-7 .njba-tab-menu-main .njba-tab-label-inner {
    border-bottom: 4px solid transparent;
}
@media (max-width: 767px) {
    .product-grid.swatch .row>:nth-child(2n+1) {
        clear: left;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .product-grid.swatch .row>:nth-child(3n+1) {
        clear: left;
    }
}

@media (min-width: 992px) {
    .product-grid.swatch .row>:nth-child(4n+1) {
        clear: left;
    }
}

@media (min-width: 992px) {
    .product-grid.rooms .row>:nth-child(4n+4) {
        clear: left !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .product-grid.rooms .row>:nth-child(2n+1) {
        clear: left;
    }
}

.product-grid .swatch-thumb img {
    width: 100%;
    height: auto;
}

.product-grid .fl-post-grid-post {
    margin-bottom: 40px;
}


/* Facet CSS */

.facetwp-facet select {
    width: 100%;
    padding: 10px;
}

.facetwp-selections ul li {
    font-size: 16px;
}

.facetwp-per-page {
    text-align: right !important;
}

.facetwp-per-page select {
    padding: 5px;
}

.facetwp-counts {}

.facetwp-pager {
    float: right;
}

.bottom-pager .facetwp-pager {
    float: none;
    text-align: center;
}

.facetwp-pager span.pager-text {
    font-size: 14px !important;
    padding-right: 10px;
}

.facetwp-pager span.pager-arrow {
    font-size: 28px;
}

.facetwp-pager a {
    color: #929292;
    vertical-align: middle;
}

.facetwp-pager a:hover {
    text-decoration: none;
}

.facetwp-page {
    display: inline-block;
    padding: 0px 4px;
    margin-right: 6px;
    cursor: pointer;
}

.product-count {
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.9);
}

.faceted_results {
    margin-top: 20px;
}

.facet-wrap {
    display: none;
}

.facet-wrap.is-hidden {
    display: none !important;
}

.facet_filters .facetwp-facet {
    margin-bottom: 25px;
}

.facet_filters strong {
    font-size: 16px;
    color: #630A0A;
    display: block;
    margin: 0 0 10px;
}

.facet-inner {
    max-height: 360px;
    overflow: auto;
}


/* Product Box */

.product-box {
    text-align: left;
}

.product-box a.fl-button {
    font-size: 13px;
    padding: 10px 20px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    width: 180px !important;
    display: block;
    text-align: center;
}

.product-box a.fl-button:hover {
    text-decoration: none;
}

.product-box a.fl-button.btn-white {
    background-color: transparent !important;
    border-color: #554E46 !important;
}

.product-box a.fl-button.view_more {
    background: #a00a20;
    border-color: #a00a20;
}

.product-box a.fl-button.view_more:hover {
    background: transparent;
}

.product-box a.fl-button.view_more:hover .fl-button-text {
    color: #a00a20;
}

.product-box h1 {
    margin: 0 0 0 0;
    padding: 0;
    text-transform: none;
    font-weight: 700;
}

.product-box h2 {
    margin: 0 0 0 0;
    padding: 0;
    font-size: 1.8rem;
}


/* Product Colors */

.product-colors ul {
    margin: 15px 0 0 0;
    padding: 0;
    list-style: none;
}

.product-colors ul li {
    display: inline-block;
    text-align: left;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.product-colors ul li.found {
    font-size: 5rem;
    padding-right: 15px;
    font-weight: 300;
}


/* Product Attributes */

.product-atts ul {
    margin: 40px 0 0 0;
    padding: 0;
    color: #008c8c;
}

.product-atts ul li {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 20px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.product-atts a.fl-button {
    padding: 10px 40px;
}

.product-attributes {
    text-transform: capitalize;
    margin-bottom: 80px;
    margin-top: 60px;
}

.product-attributes table th,
.product-attributes table td {
    padding: 12px !important;
}

.product-attributes table th {
    width: 30%;
}

.product-attributes table td {
    width: 70%;
}


/* Product Swatch */

.product-swatch {
    text-align: center;
}

.product-swatch .img-responsive {
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 450px;
}

.product-swatch .img-responsive img {
    display: none;
    margin: 0 auto;
}


/* Product Variation */

.product-variations {
    margin: 80px 0 50px 0;
    text-align: center;
}

.product-variations>.row {
    display: block;
}

.product-variations img {
    width: 100%;
    height: auto;
    padding: 0px!important;
}

img.product-logo {
    max-width: 140px;
    height: auto;
    margin-bottom: 15px;
}

.fl-archive .fl-content-left .fl-post-image-beside-wrap{
    margin-left: 2px!important;
}

/* Color Box */

.color-box {
    margin-bottom: 30px;
    line-height: normal;
    min-height: 180px;
}

.color-box small {
    font-size: 80%;
}

.product-brand {
    text-transform: uppercase;
    font-size: 0.85em;
    margin-bottom: 0;
    min-height: 20px;
    letter-spacing: 2px;
}

.product-detail-layout-5 .product-variations {
    margin: 0 0 50px;
    padding: 20px 0;
    position: relative;
    background: #F9F9F8;
}
.slick-initialized .slick-slide{
    max-width: none;
}


/* Image Gallery Modal */

.galleryMenu .menu-item:not(.current-page-ancestor) a {
    color: rgba(255, 255, 255, 0.6);
}

.active-gallery-modal .fl-post-title {
    font-family: "PT Sans Narrow";
}

.footerSocial-icons ul.social-icons {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 26px;
}

.footerSocial-icons ul.social-icons>li {
    padding: 0 10px;
}

.footerSocial-icons ul.social-icons>li>a {
    color: #767676;
}

.footerWrapper {
    font-size: 14px;
    font-weight: 400;
}

.storename,
.footerWrapper .storename {
    padding: 0;
    list-style: none;
}

.footerWrapper .storename p {
    margin: 0 !important;
}

.njba-tabs-panel-content>p {
    display: none;
}

.backgroundImage-color {
    padding: 0 80px 50px;
    background: #F9F9F8;
}

.njba-tabs.njba-tab-section-main .tab-align-center .njba-tabs-nav .njba-tabs-label.njba-tab-active .njba-tab-label-inner {
    border-color: rgb(160, 10, 32);
}

.fl-page .btnReverce a.fl-button {
    padding: 20px 35px;
    background: transparent;
    border-color: #F9F9F8;
}

.fl-page .btnReverce a.fl-button>* {
    color: #F9F9F8;
}

.fl-page .btnReverce a.fl-button:hover {
    background: #F9F9F8;
}

.fl-page .btnReverce a.fl-button:hover>* {
    color: #383838;
}

.search-wrapper {
    padding: 10px;
}

.phoneno>a {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.phoneno .storename {
    margin: 0px;
}

.navbar .nav .menu-item-has-children>a:after {
    content: "\f078";
    font-family: FontAwesome !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    vertical-align: top;
    margin: 2px 0 0 10px;
    font-weight: 400;
}

.navbar .nav .sub-menu .menu-item-has-children>a:after {
    content: "\f054";
    position: absolute;
    right: 15px;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

button#responsive-menu-button {
    z-index: 999!important;
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox] {
    margin-top: 0px!important;
}

.form-wrap-shopat {
    z-index: 999;
}

#responsive-menu-additional-content a {
    color: #F9F9F8;
    font-size: 16px;
}

.timeEstimate .ginput_container_time select {
    width: 100px!important;
}

.facetwp-checkbox{
    font-size: 15px !important;
}
button#responsive-menu-button{ border-radius: 0;}
.uabb-module-content .uabb-text-editor *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6){
    line-height: 26px;
}
.uabb-gf-style .gform_wrapper ul.gform_fields li.gfield:not( .gf_left_half):not(.gf_left_third):not(.gf_middle_third){
    padding-right: 16px;
}
.fl-module-ihover .uabb-ih-list .uabb-ih-image-block,
.fl-module-ihover .uabb-ih-list .uabb-ih-item,
.fl-module-ihover .uabb-ih-list .uabb-ih-list-item{
    width: 100%;
    height: auto;
}

.gform_wrapper .gfield_checkbox li input, .gform_wrapper .gfield_checkbox li input[type=checkbox]{
    vertical-align: middle !important;
}

.ua-icon-plus{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ua-icon-plus:before{
    content: "\f067";
}

.ua-icon-cross{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}

.ua-icon-cross:before{
    content: "\f00d";
}
.color_variations_slider_default .col-md-3.slick-slide{
    padding: 0;
}
.color_variations_slider_default .color-boxs-inners{
    padding: 0 5px;
}

.responsive-button-wrapper-default a, .responsive-button-wrapper-default a.button{
    text-align: center !important;
}

/* .pp-table tr{
    border-top: 1px solid #212121;
    border-bottom: 1px solid #212121;
    padding: 5px;
} */

.search-row .fl-builder-content  {width: 100%;}

/*Filter Select Design*/

.facetwp-selections ul:before {
    content: "Your Selection";
    font-weight: 700;
    font-size: 16px; 
    border-bottom: 2px solid #630a0a;
    padding: 0px;
    width: 100%!important;
    position: relative;
    display: block;
    margin-bottom: 5px;
    color: #138B8B;
    padding: 5px 5px 5px 0px;
}
.facetwp-selections ul li .facetwp-selection-label{
    font-size: 16px;
    font-weight: 700;
}

.facetwp-selections ul {
    padding-left: 0px;
    margin-bottom: 20px!important;
}

@media (max-width:1366px) {
    .container { width: 1280px; max-width: 95%;}
}
@media (max-width:1240px) {
    .fl-page-nav .navbar-nav>li>a.nav-link{ padding-left: 10px; padding-right: 10px;}
}
@media (max-width:1140px) {
    .fl-page-nav-right.fl-page-header-fixed, .fl-page-header-fixed { display: none !important;}
    .fl-page-bar nav ul li{
        display: none;
    }
    .fl-page-bar nav ul li:first-child{
        display: block;
    }
    .fl-page-nav-right .fl-page-header-container{ max-width: 100%;}
    .fl-page-nav-right .fl-page-header-row .fl-page-header-logo-col{ width: 100%; display: block; max-width: 100%; flex: 0 0 auto; padding: 0 50px; text-align: center;}
    .fl-page-nav-right .fl-page-header-row .fl-page-header-logo-col .fl-page-header-logo{ text-align: center;}
    .fl-page-nav-right .fl-page-header-row .fl-page-header-logo-col .fl-page-header-logo a{ display: inline-block;}
}
@media (max-width:1080px) {
    .fl-page-header-primary .fl-logo-img { max-width: 100% !important;}
    .location-top .fl-module-rich-text .fl-rich-text a{
        font-size: 14px;
    }
}
@media (max-width:992px) {
    .fl-col-group.fl-col-group-responsive-reversed {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        flex-flow: row wrap;
        -ms-box-orient: horizontal;
        -webkit-flex-flow: row wrap;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(1) {
        -webkit-box-ordinal-group: 12;
        -moz-box-ordinal-group: 12;
        -ms-flex-order: 12;
        -webkit-order: 12;
        order: 12;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(2) {
        -webkit-box-ordinal-group: 11;
        -moz-box-ordinal-group: 11;
        -ms-flex-order: 11;
        -webkit-order: 11;
        order: 11;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(3) {
        -webkit-box-ordinal-group: 10;
        -moz-box-ordinal-group: 10;
        -ms-flex-order: 10;
        -webkit-order: 10;
        order: 10;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(4) {
        -webkit-box-ordinal-group: 9;
        -moz-box-ordinal-group: 9;
        -ms-flex-order: 9;
        -webkit-order: 9;
        order: 9;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(5) {
        -webkit-box-ordinal-group: 8;
        -moz-box-ordinal-group: 8;
        -ms-flex-order: 8;
        -webkit-order: 8;
        order: 8;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(6) {
        -webkit-box-ordinal-group: 7;
        -moz-box-ordinal-group: 7;
        -ms-flex-order: 7;
        -webkit-order: 7;
        order: 7;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(7) {
        -webkit-box-ordinal-group: 6;
        -moz-box-ordinal-group: 6;
        -ms-flex-order: 6;
        -webkit-order: 6;
        order: 6;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(8) {
        -webkit-box-ordinal-group: 5;
        -moz-box-ordinal-group: 5;
        -ms-flex-order: 5;
        -webkit-order: 5;
        order: 5;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(9) {
        -webkit-box-ordinal-group: 4;
        -moz-box-ordinal-group: 4;
        -ms-flex-order: 4;
        -webkit-order: 4;
        order: 4;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(10) {
        -webkit-box-ordinal-group: 3;
        -moz-box-ordinal-group: 3;
        -ms-flex-order: 3;
        -webkit-order: 3;
        order: 3;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(11) {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(12) {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
    }

    .fl-heading span br, .uabb-infobox-title br{
        display: none!important;
    }
}
@media (max-width:768px) {
	.ro .cont_col.fl-col{
	      width: 50%!important;
         float: left;
   }
.hor ul li  {
    position: relative;
}
	.hor ul li span {

    position: absolute;
    left: 200px!important;
    right: auto!important;

}
    .fl-module-content-slider .fl-slide .fl-slide-content:empty{ display: none;}
    .fl-module-content-slider .fl-content-slider .fl-slide-photo-wrap .fl-slide-photo{ margin-top: 60px;}

    /* .facet_filters{ position: static; width: auto; box-shadow: none;} */
    /* .facet_filters .close_bar, .open_sidebar, .close_sidebar_button{ display: none;} */
    /* .facetwp-per-page, .facetwp-pager{ text-align: right !important;} */
    /* #product-list-top-filters .fl-col-group .fl-col{ width: auto !important;} */
    /* #product-list-top-filters .fl-heading, */
    /* .facetwp-counts{ text-align: left !important;} */
}
@media (max-width:767px) {
    .fl-page-header{border-bottom: 1px solid #A1AE7C;}
    .fl-col-small { max-width: 100%;}

    .fl-post .fl-post-image-beside, .fl-post .fl-post-content-beside{
        padding: 0px!important;
    }

    .facet_filters {
        position: fixed;
        top: 0px;
        left: -5px;
        width: 80%;
        height: 100%;
        overflow: auto;
        background-color: white;
        z-index: 10;
        left: -1000px;
        -moz-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
        -webkit-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
        box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
    }
    .facet_filters .close_bar, .open_sidebar, .close_sidebar_button{ display: block;}
    .facetwp-per-page, .facetwp-pager{ float: none;}
    .facetwp-per-page, .facetwp-pager,
    #product-list-top-filters .fl-heading,
    .facetwp-counts{ text-align: center !important;}
	
	header .fl-page-header-logo-col{
		padding: 0px 30px!important;
	}
	header .fl-page-header-logo-col .fl-page-header-logo{
		text-align: left!important;
	}
	#menu-top-bar-menu .menu-item {
    	padding: 2px 10px!important;
    }
}
@media screen and (max-width: 600px){
    #wpadminbar { position: fixed;}

    .uabb-gf-style .gform_wrapper ul.gform_fields li.gfield:not( .gf_left_half):not(.gf_left_third):not(.gf_middle_third){
        padding-right: 0px;
    }
}
@media (max-width:500px) {
	.hor ul li span {
    position: absolute;
    left: auto!important;
    right: 20px!important;

}
    .product-box a.fl-button { width: 100%!important; }
    .quality-family-best-wrap .uabb-list-icon-wrap { width: 60%!important; display: block; margin: 10px 0px!important;}
    .pp-table tr:first-child{
        display: none;
    }
    .pp-table tr td:nth-child(odd){
        font-weight: bold;
        border-bottom: 1px solid #212121;
        padding-top: 10px;
    }
    .pp-table tr td{
        display: block;
        width: 100%;
    }
	   .hor ul li span {
    
    right: 20px!important;
}
}
@media screen and (min-width:667px) and (max-width:667px) {
	footer a{
		font-size: 14px!important;
	}
}
@media (max-width:399px) {
	.uabb-gf-style .gform_body .ginput_container_radio .gfield_radio li label, .uabb-gf-style .gform_body .ginput_container_checkbox .gfield_checkbox li label {
    padding-right: 0px; 
}
	
	#menu-gallery-menu{
		text-align: center;
	}
    .ginput_recaptcha > div {
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -o-transform: scale(0.8);
        -ms-transform: scale(0.8);
    
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
    }
	
}
#breadcrumbs a{
    color: #A1AE7C;
}
.fi-telephone {
	    font-size: 22px;
}

article.post-527786{
	margin-bottom: 40px!important;
}
.dil_det_col a {
	color: #F9F9F8;
}

.dil_det_col a:hover{
	color: #B7C58E!important;
}

@media(max-width: 1140px){
	button#responsive-menu-button {
		background: #A1AE7C;
	}	
	button#responsive-menu-button:focus{
    background: #B7C58E!important;
   }	
	
}

#responsive-menu-title{
	text-align: center!important;
}

a{
	transition: color 0.6s!important;
}
.foot_cont p,ul{
	margin-bottom: 0px!important;
}

footer .foot_cont .fl-icon-text {
    height: auto!important;
}

#menu-footer-menu{
  text-align: center;	
  width: 100%;
}

#menu-footer-menu li{
  	display: inline-block;
}
.direction a.fl-button{
	font-weight: 600!important;
}
.rel{
	position: relative;
}


@media screen and (max-width: 425px){
	.gform_wrapper .gfield_checkbox li input, .gform_wrapper .gfield_checkbox li input[type=checkbox] {
    vertical-align: top !important;
}
	.ro .cont_col.fl-col{
	      width: 100%!important;
         float: none;
   }
	.store-opening-hrs{
		padding-left: 0px;
	}

}
.accor a{
	outline: none!important;
}

#responsive-menu-container .phone a span:before{ 
	content: "\f095";
	display: inline-block;
	color: #fff;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	margin-right: 6px;
}

#responsive-menu-additional-content{
	padding: 10px 5%!important;
}

    /* PLP Page Css iPad Air */
@media only screen and (max-width: 992px) {

	/* Facet Filter CSS	- iPad */
	.facet_filters .close_bar {
        display:block;
    }
    #product-list-top-filters .fl-col-group .fl-col {
        width: 100%!important;
        text-align: center
    }
    #product-list-top-filters .fl-heading,.facetwp-counts,.facetwp-pager,.facetwp-per-page,.open_sidebar {
        text-align: center!important
    }
    .facetwp-per-page-select {
        display: block;
        margin-left: auto;
        margin-right: auto
    }
	.open_sidebar a {
		float: none!important;
	}
	.facet_filters {
        position:fixed;
        top:0px;
        left:-5px;
        width:80%;
        height:100%;
        overflow:auto;
        background-color:white;
        z-index:10;
        left:-1000px;
        -moz-box-shadow:    5px 5px 5px 6px rgba(0,0,0,0.4);
        -webkit-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
        box-shadow:         5px 5px 5px 6px rgba(0,0,0,0.4);
    }
    .facet_filters .close_bar {
        background-color:#008c8c;
        overflow:hidden;
        width:100%;
        padding:5px;
        display:block;
        margin-bottom:20px;
    }
    .facet_filters .close_bar .close{
        float:right;
        color:white;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    	filter: alpha(opacity=100);
    	opacity: 1;
    }
    .open_sidebar,
    .close_sidebar_button{
        display:block;
    }
	.facetwp-pager {
        float: none!important;
        margin-top: 10px
    }
	/* Products List CSS - iPad */
	.facetwp-template .product-grid .product-row>.col-md-4 {
        width:33.33%;
        float: left;
        clear: none!important
    }
    .facetwp-template .product-grid .product-row>.col-md-4:nth-child(3n+1) {
        clear: left!important
    }
    .product-row>div.col-md-3:nth-child(3n+1) {
        clear: none!important
    }
}
@media only screen and (max-width: 599px) {
	.facetwp-template .product-grid .product-row>.col-md-4{
        width:48%;
        clear: none !important
    }
	.facetwp-template .product-grid .product-row>.col-md-4:nth-child(3n+1) {
		clear: none !important;
	}
}
@media only screen and (max-width: 480px) {
	.facetwp-template .product-grid .product-row>.col-md-4{
		width:100%;
		clear: both !important
	}
}
/* PLP Page Css iPad Air */